<h1>Stupid Coaching</h1>

<br>

<div class="card">
  <%= @question %>
  <br>
  <p><i>-You</i></p>
</div>

<div class="card" id="coach">
  <strong><%= @answer %></strong>
  <br>
  <p><i>-Your coach</i></p>
</div>

<br>

<%= link_to "Ask another stupid question", ask_path %>
